**1038**

In [3]:
X,Y=list(map(int,input().split()))
if(X == 1):
    p=(float) (4.00 * Y)
elif(X == 2):
    p=(float) (4.50 * Y)
elif(X == 3):
    p=(float) (5.00 * Y)
elif (X == 4):
    p=(float) (2.00 * Y);
elif (X == 5):
    p=(float) (1.50 * Y)
print("Total: R$ %.2f"%p)

3 2
Total: R$ 10.00

**1040**

In [4]:
a,b,c,d = map(float,input().split())
a= (a*2+b*3+c*4+d*1)/10
print("Media: %.1f"%a)
if a>=7.0:
    print("Aluno aprovado.")
elif a<5.0:
    print("Aluno reprovado.")
elif a>=5.0 and a<7.0:
    print("Aluno em exame.")
    x=float(input())
    print("Nota do exame: %.1f"%x)
    x=float(a+x)/2
    if x>=5.0:
        print("Aluno aprovado.")
        print("Media final: %.1f"%x)
    else:
        print("Aluno reprovado.")
        print("Media final: %.1f"%x)

2.0 4.0 7.0 8.0
Media: 5.2
Aluno em exame.
6.4
Nota do exame: 6.4
Aluno aprovado.
Media final: 5.8

**1041**

In [7]:
X,Y=list(map(float,input().split()))
if(X==0 and Y==0):
    print("Origem")
elif(X==0):
    print("Eixo Y")
elif(Y==0):
    print("Eixo X")
elif(X>0 and Y>0):
    print("Q1")
elif(X<0 and Y>0):
    print("Q2")
elif(X<0 and Y<0):
    print("Q3")
elif(X>0 and Y<0):
    print("Q4")

4.5 -2.2
Q4

**1042**

In [11]:
a,b,c = map(int,input().split())
list = [a,b,c]
list.sort()
print(f'{list[0]}')
print(f'{list[1]}')
print(f'{list[2]}\n')

print(f'{a}')
print(f'{b}')
print(f'{c}')

7 21 -14
-14
7
21

7
21
-14

**1043**

In [12]:
a,b,c=map(float,input().split())
if (a+b)>c and (a+c)>b and (a+c)>a:
    x=float(a+b+c)
    print("Perimetro = %0.1f"%x)
else:
    a=float((1/2)*(a+b)*c)
    print("Area = %0.1f"%a)

6.0 4.0 2.0
Perimetro = 12.0

**1044**

In [14]:
a,b=map(int, input().split())
if (a%b==0)or(b%a==0):
    print("Sao Multiplos")
else:
    print("Nao sao Multiplos")

6 24
Sao Multiplos

**1045**

In [2]:
a,b,c=map(float,input().split())
if(a < b):
    x = a
    a = b
    b = x
if(b < c):
    x = b
    b = c
    c = x
if(a < b):
    x = a
    a = b
    b = x
if(a>=(b+c)):
    print("NAO FORMA TRIANGULO")
elif(a*a == (b*b+c*c)):
     print("TRIANGULO RETANGULO")
elif(a * a > (b*b+ c*c)):
    print("TRIANGULO OBTUSANGULO")
elif(a*a<(b*b + c*c)):
    print("TRIANGULO ACUTANGULO")
if(a == b and b == c):
        print("TRIANGULO EQUILATERO")
elif(a == b or b == c):
        print("TRIANGULO ISOSCELES")

7.0 5.0 7.0
TRIANGULO ACUTANGULO
TRIANGULO ISOSCELES

**1046**

In [4]:
x,y=list(map(int,input().split()))
if(x<y):
    t=y-x
else:
    t=y+24-x
print("O JOGO DUROU %i HORA(S)"%t)

16 2
O JOGO DUROU 10 HORA(S)

**1047**

In [6]:
a,c,b,d=list(map(int,input().split()))

df=((b*60)+d)-((a*60)+c)
if(df<=0):
    df+=24*60
    
t=df//60
m=df%60
print(f"O JOGO DUROU {t} HORA(S) E {m} MINUTO(S)")

7 8 9 10
O JOGO DUROU 2 HORA(S) E 2 MINUTO(S)

**1049**

In [7]:
x = input()
y = input()
z = input()

if x == 'vertebrado' and y == 'ave' and z == 'carnivoro':
    animal = 'aguia'
if x == 'vertebrado' and y == 'ave' and z == 'onivoro':
    animal = 'pomba'

if x == 'vertebrado' and y == 'mamifero' and z == 'onivoro':
    animal = 'homem'

if x == 'vertebrado' and y == 'mamifero' and z == 'herbivoro':
    animal = 'vaca'

if x == 'invertebrado' and y == 'inseto' and z == 'hematofago':
    animal = 'pulga'

if x == 'invertebrado' and y == 'inseto' and z == 'herbivoro':
    animal = 'lagarta'

if x == 'invertebrado' and y == 'anelideo' and z == 'hematofago':
    animal = 'sanguessuga'

if x == 'invertebrado' and y == 'anelideo' and z == 'onivoro':
    animal = 'minhoca'

print(animal)

vertebrado
mamifero
onivoro
homem

**1050**

In [8]:
x=int(input())
if x==61:
    print("Brasilia")
elif x==71:
    print("Salvador")
elif x==11:
    print("Sao Paulo")
elif x==21:
    print("Rio de Janeiro")
elif x==32:
    print("Juiz de Fora")
elif x==19:
    print("Campinas")
elif x==27:
    print("Vitoria")
elif x==31:
    print("Belo Horizonte")
else:
    print("DDD nao cadastrado")

11
Sao Paulo

**1051**

In [9]:
salary =float(input())
if(salary>0 and salary<=2000):
 print(f"Isento")
elif(salary>2000 and salary<=3000):
 x=salary-2000
 result=x*0.08
 print(f"R$ {result:0.2f}")
elif(salary>3000 and salary<4500):
 x=salary-3000
 result = (x * 0.18) + (1000 * 0.08)
 print(f"R$ {result:0.2f}")
else:
 x=sal-4500
 result = (x*0.28)+(1500*0.18)+(1000*0.08)
 print(f"R$ {result:0.2f}")

3002.00
R$ 80.36

**1052**

In [10]:
x=int(input())
if(x==1):
    print("January")
elif(x==2):
    print("February")
elif(x==3):
    print("March")
elif(x==4):
    print("April")
elif(x==5):
    print("May")
elif(x==6):
    print("June")
elif(x==7):
    print("July")
elif(x==8):
    print("August")
elif(x==9):
    print("September")
elif(x==10):
    print("October")
elif(x==11):
    print("November")
elif(x==12):
    print("December")

3
March

**1059**

In [12]:
for i in range(1,100+1):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**1060**

In [13]:
c=0
for i in range(6):
    n=float(input())
    if(n>0):
       c+=1
print(f'{c} valores positivos')

7
-5
6
-3.4
4.6
12
4 valores positivos

**1064**

In [14]:
c=0
s=0.0
for i in range(1,7):
    n = float(input())
    if(n>0):
        s=s+n
        c=c+1
avg=s/c
print("%i valores positivos"%c)
print("%0.1f"%avg)

7
-5
6
-3.4
4.6
12
4 valores positivos
7.4

**1065**

In [15]:
c=0
for i in range(5):
    n = float(input())
    if(n%2==0):
        c=c+1
print("%i valores pares"%c)

7
-5
6
-4
12
3 valores pares

**1067**

In [16]:
n=int(input())

for j in range(1,n+1):
    if(j%2)==1:
        print(j)

8
1
3
5
7

**1070**

In [19]:
x=int(input())
i=0
while(i<6):
    if(x%2!=0):
        print(x)
        i=i+1
    x=x+1

8
9
11
13
15
17
19

**1071**

In [20]:
x=int(input())
inside=0
outside=0
for i in range(0,x):
    n=int(input())
    if(10<=n<=20):
        inside=inside+1
    else:
        outside=outside+1
print("%i in"%inside)
print("%i out"%outside)

4
14
123
10
-25
2 in
2 out

**1072**

In [21]:
n= int(input())
for i in range(1,n+1):
    if(i%2==0):
        print(f"{i}^2 = {pow(i,2)}")

6
2^2 = 4
4^2 = 16
6^2 = 36